<h1>*ngFor ARRAY</h1>

<div *ngFor="let product of products">
  <h1>{{ product.name }}</h1>
  <h2>{{ product.price }}</h2>
  <img width="100" [src]="product.image" alt="">
</div>

<h1>*ngFor</h1>
<input type="text" required [(ngModel)] = "newName" />
<button (click)="addNewName()">AddNewName</button>

<ul>
  <li *ngIf="names.length === 0">No hay nombres para mostrar</li>

  <li *ngFor="let name of names; index as i">
    {{i}} - {{name}}
    <button (click)="deleteName(i)">Delete name</button>
  </li>
</ul>



<h1>*ngIf</h1>
<input type="text" required [(ngModel)] = "name" />

<p *ngIf="name === 'antonio'">soy toni</p>
<p *ngIf="name === 'julian'; else elseBlock">soy juli</p>

<ng-template #elseBlock>
  <p>Bloque else</p>
</ng-template>

<h1>NgMdel</h1>
<p>Nombre {{ name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)] = "name" />
<p>Valid: {{ nameInput.valid }}</p>

<input type="number" max="18" min="5" required #ageInput="ngModel" [(ngModel)] = "age" />
<p>Valid: {{ ageInput.valid }}</p>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">ENVIAR</button>
<button (click)="toggleButton()">Toggle Button</button>
<button (click)="agePlusPlus()">age++</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cupiditate esse magnam. Magnam exercitationem corporis eos cupiditate numquam mollitia tempora, quam, officiis doloribus ut veniam quo quibusdam ipsam? Incidunt, autem!</p>

</div>

<input type="text" [value]="name" (keyup)="changeName($event)" />

<hr>

<input type="text" [value]="name" />

<progress max="100" [value]="age"></progress>

<h1>Hola Mundo!</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3+3 = {{ 3 + 3}}</p>
<h3>Hola soy {{ name }} y tengo {{ age }}</h3>
<img width="100" [src]="img" alt="image" />
